.expense_row {
    margin: 0 auto 12px;
    background-color: #545454;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expense_title_box {
    text-align: left;
    flex: 1;
    padding-left: 20px;
}

.expense_title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.price {
    border: 1px solid #fff;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    background-color: #7c00a1;
}